<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Ryhmä Pöllöt - Keskustelufoorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa hassunhauskalle keskustelufoorumille!</h1>

        <p>Tässä listaus kaikista tämän alueen keskusteluista:</p>
        <p>Viestiketjun nimi | Viestimäärä | Linkki viestiketjuun</p>
        <ol>
            <li style="list-style-type:none" th:each="viestiketju: ${alueet}">
                <span th:text="${viestiketju.nimi}">Alueen otsikko</span>
                <span th:text="${viestiketju.viestimäärä}">Viestimäärä</span>  <a th:href="${'/ketju/' + viestiketju.vk_id}">linkki</a>
            </li>
        </ol>

    </body>
</html>