<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Ryhmä Pöllöt - Keskustelufoorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa hassunhauskalle keskustelufoorumille!</h1>

        <p>Tässä listaus kaikista keskustelualueista:</p>
        <p>Alueen otsikko | Aluekohtainen viestimäärä | Viimeisin viesti | Linkki alueelle </p>
        <ol>
            <li style="list-style-type:none" th:each="alue: ${alueet}">
                <span th:text="${alue.otsikko} ">Alueen otsikko</span>
                <span th:text="${alue.aluekohtainenViestimäärä}"></span>
                <span th:text="${alue.viimeisinviesti}"></span>
                <a th:href="${'/alue/' + alue.a_id}">linkki</a>
            </li>
        </ol>

    </body>
</html>