<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
 
    <head>
        <title>Ryhmä Pöllöt - Keskustelufoorumi</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../style.css" />
        <style>
            body
            {
                margin: 0;
                padding: 0;
                text-align: center;
            }
 
        </style>
    </head>
 
    <body>
        <h1>Otsikko: <span th:text="${omistaja.nimi}">Otsikko</span></h1>
        <p>Aloitusviesti: <span th:text="${omistaja.aloitusviesti}">Aloitusviesti</span></p>
       
        <ol>
            <li style="list-style-type:none" th:each="viesti: ${viestit}">
                <span th:text="${viesti.nimimerkki}">Viesti</span>
                <span>  </span>
                <span th:text="${viesti}">Viesti</span>
           
            </li>
        </ol>
       
 
       
        <h2 th:text="${content}">The data</h2>
        <form method="POST">
 
            Nimi:<br/>
            <input type="text" name="nimi"/><br/>
            Viesti<br/>
            <input type="text" name="teksti"/><br/>
            <input type="submit" value="laheta"/>
        </form>
 
        <div> 
            <a style="text-decoration: none; color: black;" th:href="${'/alue/' + omistaja.a_id}">
                <span th:ref="asd">???????</span>
            </a>
        </div>
    </body>
</html>